/* ...Universal... */

* {
  font-family: Helvetica;
  background-color: #f2f2f2;
  opacity: 0.99;
}

p {
  text-align: justify;
}

/* ...Home Page Styles... */

/* ...External Font... */

@@font-face {
  font-family: 'Hind';
  src: url('https://fonts.googleapis.com/css?family=Hind');
}
#deogunheader {
  font-family:  'Hind', sans-serif;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 400%;
  padding: 100px 10px 0px 0px;

}

#menu {
  background-color: #f2f2f2;
    overflow: hidden;
    -moz-box-shadow: 5px 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px 5px #777777;
}

/* Style the links inside the navigation bar */

#menu a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

#menu a:hover {
    background-color: #808080;
    color: black;
}

/* Add a color to the active/current link */

#menu a.active {
    background-color: #f2f2f2;
    color: black;
}

/* Add a black background color to the top navigation */
.mainmenu {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.mainmenu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.mainmenu a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide link that opens and closes the mainmenu on small screens */
.mainmenu .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the mainmenu (.icon) */
@media screen and (max-width: 600px) {
  .mainmenu a:not(:first-child) {display: none;}
  .mainmenu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to mainmenu with JavaScript when the user clicks on the icon. Displays links vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .mainmenu.responsive {position: relative;}
  .mainmenu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .mainmenu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.main {
  text-align: center;
  font-size: 100%;
}

#nitasha {
  display: block;
  margin: 0px auto;
  opacity: 0.5;
}

.imagerow {
  padding: 10px 0px 10px 0px;
}

.photoborder {
  border-radius: 50px;
}
/* ...About Me... */

.bio {
  font-weight: bold;
  font-size: 150%;
  padding: 100px 200px 10px 200px;
  text-align: center;
}

#imss {
  border-radius: 250px;
  display: block;
  margin: 0px auto;
}

#projectheader {
  text-align: center;
  font-size: 150%;
  opacity: 0.8;
}

.projects {
  text-align: center;
  color: black;
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 100%;
  color: #0000ff;
}

ol {
  list-style-position: inside;
  list-style-type: upper-roman;
  text-align: center;
  font-size: 200%;
  color: black;
}

/* visited link */

a:visited {
    color: #0000ff;
}

/* hover over link */

a:hover {
    color: #ff0000;
}


/* ...Museum of Healing Image Grid... */

.imagegrid {
  width: "100%";
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: auto;
}

/* ...Contact Me Form... */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: helvetica;
    font-size: 100%;
}

/* ...Styled Submit Button... */

input[type=submit] {
    background-color: #808080;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: helvetica;
    font-weight: bold;
    font-size: 100%;
}

/* ...When hovering over submit button, change color of button to black... */
input[type=submit]:hover {
    background-color: #000000;
    font-family: helvetica;
    color: white;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

#marbles {
  border-radius: 25px;
  display: block;
  margin: 0px auto;
}

#zodiacsign {
  text-align: center;
}

#astrologychart {
  border-radius: 250px;
  display: block;
  margin: 0px auto;
}
